{% extends 'shop/layout/main.html' %}
{%block title%}
Registeration | online shopping
{%endblock title%} 
{%block content%}
<section class="bg-light py-4 my-5" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{Catagory_name}} Products</h4>
                
            </div>
            {% for item in products %}
                <div class="col-md-4 col-lg-4">
                    <div class="card my-3"  style="height:380px; width: 330px;">
                        <img src="{{item.product_image.url}}"alt="Categories" style="height:250px; width: 250px; margin-left: 25px; margin-top: 25px;">
            
                            <a href="{% url 'product_details' catagory_name item.name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ item.name }}</h5>
                            <p class="card-text">
                               <span class="float-start old_price"><s>Rs.{{item.orginal_price | stringformat:'d'}}</span> </s>
                               <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span>
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{%endblock content%}