<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>Shopkart</h6>
                    <p>
                        shopkart.com is a one stop destination for your family's fashion needs.
                        We give you the oppertunity to give your wardrobe a make over with the latest collections from our top brand
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">menu</a></p>
                    <p><a href="#!" class="text-reset">menu</a></p>
                    <p><a href="#!" class="text-reset">menu</a></p>
                    <p><a href="#!" class="text-reset">menu</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">useful links</h6>
                <p><a href="#!" class="text-reset">menu</a></p>
                <p><a href="#!" class="text-reset">menu</a></p>
                <p><a href="#!" class="text-reset">menu</a></p>
                <p><a href="#!" class="text-reset">menu</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">useful links</h6>
                <p><i class="fa fa-home"></i>CADD CENTRE</p>
                <p><i class="fa fa-envelope"></i>info@example.com</p>
                <p><i class="fa fa-phone"></i>+ 91 8248674872</p>
                </div>
            </div>

        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2021 Copyright <a class="text-reset fw-bold" href="https://www.caddcentre.com/">www.caddcentre.com</a>
    </div>
</footer>
