{% extends 'shop/layout/main.html' %}
{%block title%}
Registeration | online shopping
{%endblock title%} 
{%block content%}
<section class="bg-light py-4 my-5" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Cart Items</h4>
                <hr style="border-color: #b8bfc2;">
            </div>
                
                <table class="">
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Remove</th>
                       
                    </tr> 
                    {% for item in cart %}
                    <tr>
                        <td><img src="{{item.product.product_image.url}}" height="75px"alt="{{item.product.name}}"></td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.selling_price | stringformat:'d'}}</td>
                        <td>{{item.product_qty}}</td>
                        <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
                        <td><a href="{% url 'remove_cart' item.id %}" onclick="return confirm('Are You Sure? to Remove')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Remove</a></td>
                        
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2"><b>Total Amount</b></td>
                        <td id="net">0</td>
                        
                    </tr>
                    <button ><a id="downloadLink" onclick="exportF(this)">Download into Excel</a></button>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <script>
        const nodes=document.querySelectorAll('.amt');
        const arr=Array.from(nodes)
        const res=arr.reduce((acc ,curr) =>{
            return acc +=Number (curr.textContent)
        },0);
        document.getElementById("net").innerHTML="Rs :"+res;

        function exportF(elem) {
            var table = document.getElementById("table");
            var html = table.outerHTML;
            var url = 'data:application/vnd.ms-excel,' + escape(html); // Set your html table into url 
            elem.setAttribute("href", url);
            elem.setAttribute("download", "export.xls"); // Choose the file name
            return false;
}
    </script>
    
{%endblock content%}
